* {
    box-sizing: border-box;
}

#headBar {
    background: radial-gradient(#ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #d5b5ff);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

#logoImage {
    position: relative;
    bottom: 5vh;
    left: 1.5vw;
}

.logoImagePassive {
    width: 60vw;
}

.logoImageActive {
    animation-name: fade;
    animation-duration: 2.5s;
    width: 45vw;
}


.hiddenTextBar, .hiddenTimer {
    display: none;
}

.activeTextBar {
    position: absolute;
    left: 46vw;
    top: 43vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1em + 1.4vw);
    font-weight: bold;
    color: rgb(173, 126, 25);
}

.activeTimer {
    display: block;
    position: absolute;
    top: 60vh;
    left: 0px;
    width: 100vw;
    height: 12vh;
}

.timerCells {
    display: block;
    position: relative;
    width: 7vw;
    height: 15vh;
    text-align: center;
    font-size: 5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cellNames {
    color:rebeccapurple;
    font-size: 2vw;
    font-weight: bold;
    display: block;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

#days {
    left: 35vw;
}

#daysName {
    top: 11.3vh;
    left: 37.2vw;
}

#hours {
    left: 43.5vw;
    bottom: 15vh;
}

#hoursName {
    top: 11.3vh;
    left: 44.6vw;
}

#minutes {
    left: 51.8vw;
    bottom: 30vh;
}

#minutesName {
    top: 11.3vh;
    left: 52.4vw;
}

#seconds {
    left: 60vw;
    bottom: 45vh;
}

#secondsName {
    left: 61.6vw;
    top: 11.3vh;
}


.animate__animated.animate__fadeInUp {
    --animate-duration: 3s;
  }

@keyframes fade {
    from {width: 60vw}
    to {width: 45vw}
}

@keyframes fade-mobile {
    from {width: 100vw}
    to {width: 90vw}
}

@media (max-width: 500px) {

    #logoImage {
        top: 6vh;
    }
    .logoImagePassive {
        width: 100vw;
    }
    .logoImageActive {
        animation-name: fade-mobile;
        width: 90vw;
    }
    .activeTextBar{
        top: 27vh;
        left: 40vw;
    }
    #timer {
        top: 33vh;
    }
    .timerCells {
        font-weight: bold;
        font-size: 6vw;
    }
    .cellNames {
        font-size: 3vw;

    }
    #days {
        left: 32vw;
    }
    #hours {
        left: 43vw;
    }
    #minutes {
        left: 54vw;
    }
    #seconds {
        left: 64vw;
    }
    #daysName {
        top: 4vh;
        left: 33.5vw;
    }
    #hoursName {
        top: 4vh;
        left: 42.6vw;
    }
    #minutesName {
        top: 4vh;
        left: 53vw;
    }
    #secondsName {
        top: 4vh;
        left: 64.8vw;
    }
}
